$default-color: white;
$default-bg: black;
$overlay-black: rgba(0, 0, 0, 0.5);
$overlay-black2: rgba(0, 0, 0, 0.9);
$accent-blue: rgba(40, 200, 245, 0.8);
$accent-blue2: rgba(40, 200, 245, 0.7);
$card-bg:  rgba(128, 128, 128, 0.2);
$text-hover: gray;