//font-family
$font-default: Arial, Helvetica, sans-serif;
$font-headings: 'Kalam', cursive;

//font-size
//small
$font-default-small: 18px; 
$font-heading-small: 25px;

//medium
$font-default-medium: 20px; 
$font-heading-medium: 30px;


//large & x-large
$font-default-large: 22px; 
$font-heading-large: 35px;