body.error404 {
    // preset
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $default-bg;

    main {

        h2 {
            font-size: $font-heading-small;
        }

        img {
            width: 60%;
        }
    }

    //fixed to the bottom
    footer {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }


    /********************************/
    /* Medium Screen */
    /********************************/
    @media screen and (min-width: $medium) {
        
        main {

            h2 {
                font-size: $font-heading-medium;
            }
    
            img {
                width: 45%;
            }
        }
    }

    /********************************/
    /* Large Screen */
    /********************************/
    @media screen and (min-width: $large) {
    
        main {

            h2 {
                font-size: $font-heading-large;
            }
    
            img {
                width: 35%;
            }
        }
    
    }

    /********************************/
    /* X-Large Screen */
    /********************************/
    @media screen and (min-width: $x-large) {
    
        main {
    
            img {
                width: 30%;
            }
        }
    
    }
}